.layout-container {
  display: grid;
  grid-template-rows: var(--header-top-height) 7px auto;
  height: 100%;
  width: 100%;
}
.layout-horizontal-gutter {
  grid-area: 2 / 1;
  cursor: row-resize;
  background: linear-gradient(
    90deg,
    var(--bg-gutter-color) ($dot-space - $dot-size),
    transparent 1%
  )
  center,
  linear-gradient(
    var(--bg-gutter-color) ($dot-space - $dot-size),
    transparent 1%
  )
  center,
  var(--dot-color);
  background-size: $dot-space $dot-space;
}

.layout-header-wrapper {
  min-height: 0;
  overflow: hidden;
  background-color: var(--bg-primary);
  color: var(--primary);
}
.layout-header {
  min-height: 0;
  overflow: hidden;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    height: var(--header-top-height);
    display: flex;
    justify-content: space-between;
    &__left {
      height: 100%;
      width: 10%;
      display: flex;
      min-width: 270px;
    }
    &__center {
      width: 90%;
      display: flex;
      &__body {
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__welcome {
          white-space: nowrap;
          padding-bottom: $large-padding;
          color: var(--welcome-color);
          text-transform: uppercase;
          font-size: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    &__right {
      min-width: 90px;
      display: flex;
      padding-right: 35px;
    }
  }

  &-logged-in {
    .layout-header__top {
      &__right{
        min-width: 130px;
      }
    }
  }

  &__large_top {
    height: calc(var(--header-top-height) + var(--header-bottom-height));
  }

  &__bottom {
    height: var(--header-bottom-height);
  }
}

$org-icon-mark-width: 16px;
$org-icon-mark-height: 16px;
$dep-icon-mark-width: 14px;
$dep-icon-mark-height: 14px;
$skyhub-logo-width: 350px;
$skyhub-logo-height: 350px;

$skyhub-small-logo-width: auto;
$skyhub-small-logo-height: 80px;

.skyhub-logo-wrapper {
  .skyhub-logo {
    width: $skyhub-logo-width;
    height: $skyhub-logo-height;
  }

  .skyhub-small-logo {
    width: $skyhub-small-logo-width;
    height: $skyhub-small-logo-height;
  }
}

.org-icon-mark-wrapper {
  padding-right: 10px;
  .org-icon-mark {
    width: $org-icon-mark-width;
    height: $org-icon-mark-height;
  }
}

.layout-content {
  height: 100%;
  overflow: hidden;
}

// branch
.branch {
  margin-left: $logo-margin;
  margin-right: calc(2 * #{$logo-margin});
  padding: $default-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__logo {
    padding: $large-padding;
    img {
      width: 200px;
      height: 18px;
    }
    &:hover {
      cursor: pointer;
      color: var(--secondary);
    }
  }
  &:hover {
    .left-dropdown-content {
      display: block;
    }
  }
  .left-dropdown-content__text {
    font-size: $default-font-size;
  }
}

// department - modules
.modules {
  margin-left: calc(2 * #{$logo-margin});
  padding: $large-padding;
  display: flex;
  align-items: center;
  text-align: center;

  &__content {
    display: flex;
    &__name {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      white-space: nowrap;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .dep-icon-mark-wrapper {
      padding-top: 3px;
      padding-right: 10px;
      &:hover {
        color: var(--my-active-color);
        .dropdown-content {
          //transform: translateY($large-padding);
          display: block;
        }
      }
      .dep-icon-mark {
        width: $dep-icon-mark-width;
        height: $dep-icon-mark-height;
        display: flex;
      }
    }
  }
}

//search bar
.search-bar-wrapper {
  max-width: 500px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 3px;
  input {
    //padding: $large-padding;
    outline: none;
    border: $default-border;
    background: var(--bg-primary);
    color: var(--primary);
    &:focus {
      border: 1px solid var(--my-active-color);
    }

    ::placeholder {
      color: var(--primary);
    }
  }
}

.layout-header-logged-in {
  .search-bar-wrapper {
    width: 80%;
  }
}

.search-bar-bottom-wrapper {
  justify-content: flex-end;
}


.search-bar-wrapper-rounded-border {
  input {
    border-radius: $large-border-radius;
  }

}

.search-bar-wrapper-top-rounded-border {
  input {
    border-top-left-radius: $large-border-radius;
    border-top-right-radius: $large-border-radius;
    &:focus {
      border-bottom: none;
    }
  }
}


// notification
.notification {
  margin-right: calc(2 * #{$logo-margin});
  position: relative;
  padding: $default-padding;
  display: flex;
  align-items: center;
  &__chat, &__functional {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: $large-padding;
    font-size: 1.5rem;
  }
}

// user profile
.user-profiles-wrapper {
  margin-right: calc(#{$logo-margin} + 10px);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.user-profiles {
  height: var(--avatar-size);
  width: var(--avatar-size);
  min-width: var(--avatar-size);
  border: $default-border;
  border-radius: 50%;
  margin-right: $default-padding;
  overflow: hidden;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  &__icon {
    i {
      height: 100%;
      width: 100%;
      font-size: 3rem;
      line-height: 3rem;
      text-align: center;
      margin-bottom: -2px;
    }
  }

  &__img {
    margin-bottom: -5px;
    height: 100%;
    width: 100%;
  }

  &__fullname {
    padding: $default-padding;
    background: linear-gradient(
      to right,
      var(--bg-primary),
      var(--bg-secondary)
    ) !important;
  }
}

.no-user-profiles {
  height: calc(var(--avatar-size) * 2 - #{$default-padding});
  width: calc(var(--avatar-size) * 2 - #{$default-padding});
  min-width:  calc(var(--avatar-size) * 2 - #{$default-padding});
  overflow: hidden;
  border: $default-border;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  &__img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    img {
      display: block;
      width: 60px;
      height: 60px;
    }
  }
}

.user-account {
  font-size: 0.8rem;
  width: 54px;
  overflow: hidden;
}

.separator {
  margin-top: $large-padding;
  width: 2px;
  min-width: 2px;
  height: calc(var(--header-top-height) - 2 * #{$large-padding});
  margin-left: 2px;
  margin-right: 2px;
  opacity: 0.3;
  border: $default-border;
}

.nav {
  margin-top: $small-padding;
  margin-left: $large-padding;
  display: flex;

  & .nav-item {
    padding: $large-padding 25px;
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    text-decoration: none;
    color: var(--primary);
    font-weight: 400;
    &.active {
      @include create-active-item();
    }
    &:hover {
      @include create-hover-item();
    }
  }

  .more {
    &:hover {
      cursor: pointer;
      .right-dropdown-content {
        transform: translateY(20px);
        //display: block;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .layout-header {
    &__top {
      &__left {
        min-width: 100px;
      }
      &__center {
        min-width: 0;
      }
    }

    &-logged-in {
      .layout-header__top {
        &__left {
          min-width: 12px;
        }
      }

    }
  }

  .branch {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    &__logo {
      padding: $default-padding;
      img {
        display: none;
      }
    }
  }

  .modules {
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    &__content {
      &__name {
        display: none;
      }
      .dep-icon-mark-wrapper {
        .dep-icon-mark {
          margin-top: -5px;
        }
      }
    }
  }


  .skyhub-logo-wrapper {
    .skyhub-small-logo {
      width: 80px;
    }
  }

  .separator {
    display: none;
  }

  .notification {
    margin-right: 5px;
    padding: $small-padding;
    &__chat, &__functional {
      padding: $small-padding;
    }
  }

  .no-user-profiles {
    height: calc(var(--avatar-size) * 2 - 3 * #{$large-padding});
    width: calc(var(--avatar-size) * 2 - 3 * #{$large-padding});
    min-width:  calc(var(--avatar-size) * 2 - 3 * #{$large-padding});

    &__img {
      padding-top: 10px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}