.table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

.table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  resize: horizontal;
  overflow: hidden;
  cursor: pointer;
}

.table .freeze {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  overflow: hidden;
}

.table .row-number {
  font-weight: normal;
  color: var(--readonly-text-color);
}

.table thead .freeze {
  z-index: 3;
}

.table tbody .freeze {
  z-index: 2;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: $default-padding;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

.table tr {
  color: var(--base-color);
}

.table tr:nth-child(even) {
  background-color: var(--table-row-bgcolor);
}

.table tbody tr:hover {
  background-color: var(--selection-bgcolor) !important;
  cursor: pointer;
}

.table thead th {
  padding: $default-padding;
  text-align: center;
  background-color: var(--bg-secondary);
  color: var(--secondary);
}

.table tbody th {
  padding: $default-padding;
  text-align: center;
  background-color: var(--bg-tertiary);
  color: var(--tertiary);
}

.table tr.selected {
  background-color: var(--selection-bgcolor) !important;
  color: var(--selection-color) !important;
}

.table .checked-column {
  width: 30px;
  min-width: 30px;
}

