:root {
  --base-background: #ffffff;
  --base-color: black;

  --primary: #4c4c4c;
  --bg-primary: #FFFFFF;

  --secondary: #f2f2f2;
  --bg-secondary: #ea1f40;

  --tertiary: #FFFFFF;
  --bg-tertiary: #eff4f8;

  --danger: #ffffff;
  --bg-danger: #dc3545;

  --success: #ffffff;
  --bg-success: #28a745;

  --info: #ffffff;
  --bg-info: #17a2b8;

  --normal: black;
  --bg-normal: #c8cacb;

  --table-row-bgcolor: #f2f2f2;
  --form-control-bgcolor: #f1f1f1;

  --error: red;


  --table-row-bgcolor: #f2f2f2;
  --selection-cell-bgcolor: #fffaa2;
  --selection-bgcolor: #f9ffcd;
  --selection-color: #020b0a;

  --bg-gutter-color: var(--bg-tertiary);
  --dot-color: var(--bg-tertiary);
  //--dot-color: #c8cacb;

  --readonly-text-color: #858585;

  --highlight-text-color: var(--bg-secondary);

  --welcome-color: #572228;

  --border-color: #e5e5e5;
  --my-active-color: #ea1f40;

  --header-top-height: 48px;
  --header-bottom-height: 40px;
  --avatar-size: 42px;

  --horizontal-gutter-width: 20px;
  ::placeholder {
    color: var(--base-color);
    opacity: 0.5;
  }
}

