// media query mixin
@mixin break($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin create-button($bg-color, $color) {
  padding: $button-padding;
  color: var(--#{$color});
  background-color: var(--#{$bg-color});
  border-radius: $default-border-radius;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  margin-left: $small-padding;
  margin-right: $small-padding;
}

@mixin create-small-button($bg-color, $color) {
  padding: $small-button-padding;
  color: var(--#{$color});
  background-color: var(--#{$bg-color});
  border-radius: $small-default-border-radius;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: $small-padding;
  margin-right: $small-padding;
}
